@media screen and (min-width: 500px){
    body{
    background-image:url("/home/student/Pictures/Diwali.jpg");
    background-size:cover;
}
nav{
 height:11%;
 width:100%;
 background-color:black;
 opacity:0.6; 
 top:0px;
 left:0px;
 position:absolute;
}
.hor_list{
    list-style-type:none;
    float:right;
  }
.hor_list,li{
    font-size:1rem;
    font-weight:lighter;
    display:inline-block;
}
li,a{
    text-decoration:none;
    color:white;;
    text-align:center;
    padding-right:12px;
    }
a:hover{
    background-color:red;
    width:5px;
    height:5px;
    border-radius:2px;
}
.content{
    position:relative;
    margin-top:18%;
}
#heading{
    font-size:3rem;
    font-family:sans-serif;
    font-weight:bold;
    color:white;
    text-align:center;
}
.cont{
    text-align:center;
}
.btn{
    height:40px;
    width:auto;
    font-size:1.2rem;
    color:white;
    background-color: red;
    border:1px solid red;
    font-weight:lighter;
    display:inline-block;
    border-radius:10px;
    margin-right:10px;
}
}
@media screen and (max-width: 500px){
    body{
        background-image:url("/home/student/Pictures/Diwali.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
    nav{
        height:5%;
        width:100%;
        background-color:black;
        opacity:0.6; 
        top:0px;
        left:0px;
        position:absolute;
    }
    .hor_list,li{
    font-size:1rem;
    font-weight:lighter;
    display:inline-block;
    }
    li,a{
        padding-right:4px;
        text-decoration:none;
        color:white;;
        text-align:center;
    }
    .content{
    position:relative;
    margin-top:18%;
}
    a:hover{
    background-color:red;
    width:5px;height:5px;
    border-radius:2px;
}
    #heading{
    font-size:1.5rem;
    font-family:sans-serif;
    font-weight:bold;
    color:white;
    text-align:center;
}
.cont{
    text-align:center;
}
    .btn{
    height:20px;
    width:auto;
    font-size:1rem;
    color:white;
    background-color: red;
    border:1px solid red;
    border-radius:10px;
    margin-right:10px;
    }
}
@media screen and(max-width: 375px){
    li,a{
        padding:2px;
    }
}
